* {
    box-sizing: border-box;
    font-weight: normal;
    font-family: monospace;
  }
  .title{
    font-family: Oswald  !important}
  body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
    border: 1;
    background-color: #F7EBE8;
  
  }
  .first-section{
    background-color: #F7EBE8;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10vh;
    
  
  }
  
  .underline{
    transform: scale(1, -1);
          color: #FFCD9F;
          -moz-transform: scale(1, -1);
          -webkit-transform: scale(1, -1);
          -o-transform: scale(1, -1);
          -ms-transform: scale(1, -1);
          transform: scale(1, -1);
          
        
  }
  
  

  .data, .data1{
    transform: translate(-50%, 25%);
    border-color: #E9C29F;
    color: #000;
    z-index: 2;
    margin-left: 20vw;
    margin-bottom: 80vw;
    scale: .75;
    position:absolute;
    object-fit: cover;
  }

  .data1, .dot1, .dotText1, .population1{
    margin-left: 70vw;
  }



  .dot, .dot1 {
    height: 14.5vw;
    width: 14.5vw;
    margin-left: 16vw;
    margin-top: 24vh;

    position:absolute;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
  }

  .population, .population1 {
    display: inline-block;
    position:absolute;
    z-index: 2;
    
    margin-top: 43vh;
    font-size: 2vh;
   
  }

  .dotText, .dotText1 {
    display: block;
    width: 200px;
    position:absolute;
    z-index: 2;
    margin-top: 39vh;
    font-size: 3vh;
    resize: none;
  }

  #plusButton{
    margin-top: 80vh;
    margin-left: 93vw;
    width: 4vw;
    position:absolute;
    z-index: 2;
    object-fit: cover;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .rectangle, .rectangle1{
    font-family: monospace !important;
    display: flex;
    flex-direction: column;
    align-items: center;
  width: 35vw;
  height: 30vh;
  
  margin-left: 5vw;
  margin-top: 35vh;
  border-radius: 2vh;
  background-color: #FFCD9F;
  }
  .rectangle1{
    position: absolute;
    margin-top: 59vh;
    margin-left: 56vw;
  }

  .BIGAREA{
    display: flex;

  }
.headers{
  padding-top: 1vh;
  font-size: 3vh;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;
  width: 400px;
  height: 15px;
}
progress[value]::-webkit-progress-bar {
  background-color: #FFFFFF;
  border-radius: 4px;
}
progress[value]::-webkit-progress-value {
  background-color: #FF6F6F;
  border-radius: 4px;
  background-size: 20px 15px, 100% 100%, 100% 100%;
}

li{
  font-size: 2.5vh;
}

.CityName{
  font-size: 5vh;
}