* {
    box-sizing: border-box;
  }
  body {
    font-size: 14px;
  }
  .v41_2 {
    width: 725px;
    height: 458px;
    background: url("../images/v41_2.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_2 {
    width: 725px;
    height: 458px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v1_3 {
    width: 725px;
    height: 59px;
    background: rgba(229,75,75,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
  }
  .v22_8 {
    width: 171px;
    color: rgba(0,7,45,1);
    position: absolute;
    top: 0px;
    left: 17px;
    font-family: Sudo Var;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
  }
  .v22_19 {
    width: 161px;
    height: 77px;
    background: url("../images/v22_19.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 199px;
    left: 12px;
    overflow: hidden;
  }
  .v22_14 {
    width: 161px;
    height: 32px;
    background: rgba(247,235,232,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 1px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }
  .v22_21 {
    width: 161px;
    height: 32px;
    background: rgba(247,235,232,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    overflow: hidden;
  }
  .v22_15 {
    width: 61px;
    height: 0px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 14px;
    overflow: hidden;
  }
  .v22_23 {
    width: 69px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 10px;
    left: 47px;
    font-family: Sudo Var;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  .v22_16 {
    width: 61px;
    height: 0px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 37px;
    left: 87px;
    overflow: hidden;
  }
  .v22_17 {
    width: 8px;
    color: rgba(217,217,217,1);
    position: absolute;
    top: 33px;
    left: 78px;
    font-family: Staatliches;
    font-weight: Regular;
    font-size: 8px;
    opacity: 1;
    text-align: left;
  }
  .v22_18 {
    width: 107px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 54px;
    left: 28px;
    font-family: Sudo Var;
    font-weight: Regular;
    font-size: 12px;
    opacity: 1;
    text-align: left;
  }
  </style>