* {
    box-sizing: border-box;
  }

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
    flex-grow: 1;
    margin: 0;
    border: 1;

  }
  .first-section{
    border: solid red;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 15vh;
    background-color: #E54B4B;
  
  }
 
  .second-section{
    border: solid red;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
align-items: center;
  }

  .select-city{
    background-color: #F7EBE8;
    padding: 2vh;
    border-radius: 1.5vh;
    padding-right: 5vh;
    padding-left: 5vh;
  }
  
  .select-location{
    background-color: #F7EBE8;
    padding: 2vh;
    border-radius: 1.5vh;
    padding-right: 5vh;
    padding-left: 5vh;
  }