<!DOCTYPE html>
<html>
    <head><link href="https://fonts.googleapis.com/css?family=Sudo+Var&display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet" /></head>
        <link rel="stylesheet" href="index.css">

        <body>
            <div class="v1_2">
                <div class="v1_3"></div>
                <div class="v1_4"> </div>
                <span class="v1_5">CITYNO</span>
                <div class="v1_6"><div class="v1_7"></div>
                <div class="v1_8"></div>
                <div class="v1_9"></div>
                <span class="v1_10">Select a city</span>
                <div class="v1_11"></div>
                <span class="v1_12">OR</span>
                <span class="v1_13">Select your location</span>
            </div>
        </div>
    </body>
    </html> 
    