* {
    box-sizing: border-box;
    font-family: Oswald;
    font-weight: normal;
  }
  
  body {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
    border: 1;
    background-color: #F7EBE8;
  
  }
  .first-section{
    background-color: #F7EBE8;
    padding-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 10vh;
    
  
  }
  
  .underline{
    transform: scale(1, -1);
          color: #E9C29F;
          -moz-transform: scale(1, -1);
          -webkit-transform: scale(1, -1);
          -o-transform: scale(1, -1);
          -ms-transform: scale(1, -1);
          transform: scale(1, -1);
          
        
  }
  
  

  .data, .data1{
    transform: translate(-50%, 25%);
    border-color: #E9C29F;
    color: #000;
    z-index: 2;
    margin-left: 20vw;
    margin-bottom: 80vw;
    scale: .75;
    position:absolute;
    object-fit: cover;
  }

  .data1, .dot1, .dotText1.population1{
    margin-left: 70vw;
  }



  .dot, .dot1 {
    height: 13.5vw;
    width: 13.5vw;
    margin-left: 16.5vw;
    margin-top: 27vh;

    position:absolute;
    z-index: 1;
    border-radius: 50%;
    display: inline-block;
  }

  .population, .population1 {
    display: inline-block;
    position:absolute;
    z-index: 2;
    margin-left: 17vw;
    margin-top: 60vh;
    font-size: 3vh;
    background-color: #F7EBE8;
  }

  .dotText, .dotText1 {
    display: block;
    width: 160px;
    position:absolute;
    z-index: 2;
    margin-top: 39vh;
    font-size: 3vh;
  }
  #plusButton{
    margin-top: 80vh;
    margin-left: 90vw;
    width: 4vw;
    position:absolute;
    z-index: 0;
    object-fit: cover;
    transition: all 500ms cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  
