<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="Chart.css"></link>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
        <script src="../Static/Chart.js" defer></script>
        <title>Chart</title>
    </head>
    <body>
        <div class="first-section">
            <span class="title">CITYNO</span>
            <span class = "underline">_____________________</span>
        </div>
        
        <span class="dot" id="dotty"></span>
        <span class="dotText" id = "texty"></span>
        <div class= "data">
            <canvas id="doughChart" width="400" height="400"></canvas>
            <script type="module" src="Chart.js"></script>
        </div>

        <span class="population" id = "popCount"></span>
 
        <img src="../images/plusicon.png" id = "plusButton">



    </body>
</html>