<html><head></head>
    <link rel="stylesheet" href="universal.css"></head>
   

    <body>
        <div class="first-section">
            <span class="title">CITYNO</span>
            <span class = "underline">________________________________________</span>
        </div>

        <div class="second-section">
            <form action="/" method="GET" class="form">
                <input type="search" placeholder="Enter a state to get started" class="search-field" />
                <button type="submit" class="search-button">
                  <img src="../images/search.png">
                </button>
              </form>

            <div class="or"><img src="../images/OR.png" alt="OR"></div>
            <button class="select-location">Use your current location</button>
        </div>
      

 
</body></html>