<!DOCTYPE html><html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Sudo+Var&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Staatliches&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="universal.css">
    </head>
    <body>
        <div class="v41_2"><div class="v1_2"></div><div class="v1_3"></div>
        <span class="v22_8">CITYNO</span>
        <div class="v22_19"><div class="v22_14"></div>
        <div class="v22_21"></div><div class="v22_15"></div>
        <span class="v22_23">Select a city</span><div class="v22_16"></div>
        <span class="v22_17">OR</span><span class="v22_18">Select your location</span>
    </div>
</div>
</body>
</html> <br/>
<br/>