* {
  box-sizing: border-box;
  font-family: Oswald;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-evenly;
  flex-grow: 1;
  margin: 0;
  border: 1;

}
.first-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 10vh;
  background-color: #E54B4B;
  

}

.second-section{
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
align-items: center;
}

.select-city{
  font-family: monospace;
  font-size: 3vh;
  background-color: #F7EBE8;
  padding: 2vh;
  border-radius: 1.5vh;
  padding-right: 11vh;
  padding-left: 11vh;
}


.OR{
  padding-top:.5vh;
  padding-bottom:.5vh;
}

.select-location{
  font-family: monospace;
  font-size: 3vh;
  background-color: #F7EBE8;
  padding: 2vh;
  border-radius: 1.5vh;
  padding-right: 5vh;
  padding-left: 5vh;
  margin-top: 0;
}

img {  
  object-fit: cover;  
  height: 3vh;
  }  

  button {
    border: none;
    outline: none;
    transition: background-color 200ms linear;
  }
  button:hover{
    background-color: #a8ffbf;
   
  }
  input{
    font-size: 3vh;
    border-color: black;
    color: black;
    padding: 2vh;
    width: 35vw;
    border-radius: 1.5vh;
    border-width: 0.3vh;
  }
  input::placeholder {
    opacity: 0.9;
    
}