* {
  box-sizing: border-box;
  font-family: Oswald;
  font-weight: normal;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
  justify-content: space-between;
  flex-grow: 1;
  margin: 0;
  border: 1;
  background-color: #F7EBE8;

}
.first-section{
  background-color: #F7EBE8;
  padding-top: 1vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 10vh;
  

}

.underline{
  transform: scale(1, -1);
        color: #E9C29F;
        -moz-transform: scale(1, -1);
        -webkit-transform: scale(1, -1);
        -o-transform: scale(1, -1);
        -ms-transform: scale(1, -1);
        transform: scale(1, -1);
        
      
}

img[src="../images/cityscape.png"] {
  height: 45vh;
  margin-bottom: 35vh;
  position:absolute;
    z-index:0;
    object-fit: cover;
}

.second-section{
  background-color: #F7EBE8;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
 align-items: center;
  font-size: 10vh;
  
}

.select-city{
  font-family: monospace;
  font-size: 3vh;
  background-color: #F7EBE8;
  padding: 2vh;
  border-radius: 1.5vh;
  padding-right: 11vw;
  padding-left: 11vw;
}


.OR{
  padding-top:.5vh;
  padding-bottom:.5vh;
  z-index: 1;
}
.form {
  display: flex;
  flex-direction: row;
  margin-bottom: 0;

}
.search-field {
  border: solid #E8BEB4;
  border-width: .3vh;
  border-radius: 1vh;
  outline: none;
  margin-bottom: 0;
  padding: 3vh;
  padding-right:6vw;
  z-index: 1;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
margin-left: -4vw;
z-index: 1;

}

.search-button img {
  width: 2.4vw;
  height: 5vh;
}

.select-location{
  font-family: monospace;
  font-size: 2vh;
  background-color: #F7EBE8;
  padding: 2.5vh;
  border-radius: 1.5vh;
  padding-right: 5vw;
  padding-left: 5vw;
  margin-top: 0;

}

img {  
  object-fit: cover;  
  height: 3vh;
  }  

  .select-location {
    border: none;
    outline: none;
    transition: background-color 200ms linear;
    background-color: #F7EBE8;
    background-color: #E8BEB4;
    z-index: 1;

  }
  .select-location:hover{
    background-color: #f5d2ca;
   
  }
  input{
    font-size: 3vh;
    border-color: black;
    color: black;
    padding: 1.5vh;
    width: 35vw;
    border-radius: 1.5vh;
    padding-top: 2.5vh;
    padding-bottom:2.5vh;
    border-width: 0.3vw;

  }
  input::placeholder {
    
    color: black;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }